<section>
    <div class="form">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <div class="title">
                <h1>Recuperação de acesso</h1>
                <div class="login-button">
                    <a nz-button nzType="primary"routerLink="/login">Sair</a>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <label for="user">Senha</label>
                    <nz-form-item>
                        <nz-form-control [nzSm]="100" [nzXs]="100" nzErrorTip="Campo obrigatório">
                            <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
                                <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" name="password"
                                    placeholder="password" required />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <span nz-icon class="ant-input-password-icon" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible = !passwordVisible"></span>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="input-box">
                    <label for="confir-password">Confirmação de senha</label>
                    <nz-form-item>
                        <nz-form-control [nzSm]="100" [nzXs]="100"
                            [nzErrorTip]=" validateForm.get('confirmPassword')?.hasError('passwordMatchValidator') 
                            ? 'As senhas não coincidem' : ''">
                            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate1">
                                <input [type]="passwordVisible1 ? 'text' : 'password'" nz-input formControlName="confirmPassword" name="password"
                                    placeholder="Comfirmação do password" required />
                            </nz-input-group>
                            <ng-template #suffixTemplate1>
                                <span nz-icon class="ant-input-password-icon"
                                [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible1 = !passwordVisible1"></span>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="submit-button">
                <button nz-button nzType="primary" [disabled]="!validateForm.valid"
                    [title]="validateForm.valid ? 'Recuperação de acesso' : 'Preencha os campos obrigatórios'"
                    [nzLoading]="isLoadingOne">Recuperação</button>
            </div>

        </form>
    </div>
</section>