<section>
  <div class="form-img">
  </div>
  <div class="form">
    <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div class="form-header">
        <div class="tittle">
          <h1>Cadastrar Usuário</h1>
        </div>
        <div class="login-button">
          <a nz-button nzType="primary" [nzLoading]="isLoadingOne" routerLink="/login">Entrar</a>
        </div>
      </div>

      <div class="input-group">
        <div class="input-box">
          <label for="firstname">Nome</label>
          <input type="text" nz-input formControlName="firstname" name="firstname" placeholder="Primeiro nome" required>
        </div>

        <div class="input-box">
          <label for="lastname">Sobrenome</label>
          <input type="text" nz-input formControlName="lastname" name="lastname" placeholder="Segundo nome" required>
        </div>

        <div class="input-box">
          <label for="username">Usuário</label>
          <input type="text" nz-input formControlName="username" name="username" placeholder="Nome do usuário" required>
        </div>

        <div class="input-box">
          <label for="mobile">Número de telefone</label>
          <input type="text" nz-input formControlName="number" name="number" placeholder="(xx) xxxx-xxxx" required>
        </div>

        <div class="input-box">
          <label for="roles">Funções</label>
          <nz-select nzLoading [nzMaxTagCount]="1"
            nzPlaceHolder="Selecione a função do usuário" nzMode="multiple" style="width: auto;" formControlName="roles">
            @for(d of roles; track d){
            <nz-option [nzValue]="d" [nzLabel]="d.name"></nz-option>
            }
          </nz-select>
        </div>

        <div class="input-box">
          <label for="cpfcnpj">Documento</label>
          <nz-select  nzPlaceHolder="Tipo de documento" formControlName="document">
            <nz-option nzValue="CPF" nzLabel="CPF"></nz-option>
            <nz-option nzValue="CNPJ" nzLabel="CNPJ"></nz-option>
          </nz-select>
          <input type="text" nz-input  formControlName="cpfcnpj" style="width: auto;"
            placeholder="Número do documento" />
        </div>

        <div class="input-box">
          <label for="email">E-mail</label>
          <input type="email" nz-input formControlName="email" placeholder="exemplo@exemplo.com" required>
        </div>

        <div class="input-box">
          <label for="password">Senha</label>
          <input type="password" nz-input formControlName="password" placeholder="Senha" />
        </div>

        <div class="input-box">
          <label for="password">Confirma senha</label>
          <input type="password" nz-input formControlName="confirmPassword" name="confirm-password"
            placeholder="Confirme sua senha" />
        </div>
      </div>
      <div class="submit-button">
        <button nz-button nzType="primary" >Cadastrar</button>
      </div>
    </form>
  </div>
</section>