<nz-layout class="app-layout" #mainContent>
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink="/home/welcome">
                <img src="favicon-512x512.png" alt="logo">
                <h1>Área do cliente</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Gerenciamento" nzIcon="bar-chart">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/home/welcome">Bem vindo</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="home/login">Monitor</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Workplace</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Mais opções" nzIcon="setting">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/home/profile-user"><span nz-icon nzType="user" nzTheme="outline"></span> Perfil do usuário</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="logout()"><span nz-icon nzType="logout" nzTheme="outline"></span> Sair</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
                <div class="toggler-themer">
                    <nz-switch [(ngModel)]="isDarkThemeAndLight" [nzCheckedChildren]="checkedTemplate"
                        [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="toggleTheme()"></nz-switch>
                    <ng-template #checkedTemplate><span nz-icon nzType="sun"></span></ng-template>
                    <ng-template #unCheckedTemplate><span nz-icon nzType="moon"></span></ng-template>
                </div>
                <div class="avatar">
                    <a routerLink="/home/profile-user">
                        <nz-avatar [nzGap]="50" [style]="{ 'background-color': color }" [nzText]="name" nzSize="large"
                            style="vertical-align: middle;"></nz-avatar>
                    </a>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
              </div>
              <!-- Aviso de página em construção -->
              <div class="construction-message">
                <p>🚧 O site está em construção. Estou aprendendo o front-end e trabalhando para sempre melhorar a experiência tanto para usuários quanto para desenvolvedores. Obrigado pela paciência! 🚧</p>
              </div>
        </nz-content>
    </nz-layout>
</nz-layout>